<div class="container">
	<div class="col-md-3">
		{{#link-to '<%= dasherizedModuleName %>s.new' tagname="button" }}New{{/link-to}}
		<ul>
		  {{#each model as |<%= camelizedModuleName %>|}}
				<li>
				  {{#link-to '<%= dasherizedModuleName%>s.<%= dasherizedModuleName%>.show' <%=camelizedModuleName%> tagname="button" }}
				    {{<%=camelizedModuleName%>.<%= camelizedModuleName %>}}
				  {{/link-to}}
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="col-md-9">
		{{outlet}}
	</div>
</div>