<div class="edit-fields">
  <div class="crud-input">tess: {{input value=model.tess }}</div>
  <div class="crud-input">clas: {{input type='checkbox' checked=model.clas }}</div>
  <!-- attributes go here -->
</div>