<div class="edit-fields">
  <div class="crud-input">name: {{input value=model.name }}</div>
  <div class="crud-input">class: {{input type='checkbox' checked=model.class }}</div>
  <!-- attributes go here -->
</div>