<div class="edit-fields">
  <div class="crud-input">Title: {{input value=model.shinchan}}</div>
  <div class="crud-input">studentName: {{input value=model.studentName }}</div>
  <div class="crud-input">class: {{input value=model.class }}</div>
  <div class="crud-input">isPass: {{input type='checkbox' checked=model.isPass }}</div>
  <!-- attributes go here -->
</div>

<div class="container">
	<div class="row">
		<div class="panel col-md-7">
	    <div class="panel-body">
	      <div class="row">
		      <div class="col-md-1">
		      </div>
		      <div class="col-md-11">
		        <form method="POST" action="#" role="form">
							<div class="form-group">
								<h2>Create account</h2>
							</div>
							<div class="form-group row">
							  <div class="col-md-4">
								  <label class="control-label" for="signupName">Your name</label>
								</div>
								<div class="col-md-6">
								  <input id="signupName" type="text" maxlength="50" class="form-control">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4">
								  <label class="control-label" for="signupName">Your name</label>
								</div>
								<div class="col-md-6">
								  <input id="signupName" type="text" maxlength="50" class="form-control">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4">
								  <label class="control-label" for="signupName">Your name</label>
								</div>
								<div class="col-md-6">
								  <input id="signupName" type="text" maxlength="50" class="form-control">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4">
								  <label class="control-label" for="signupName">Your name</label>
								</div>
								<div class="col-md-6">
								  <input id="signupName" type="text" maxlength="50" class="form-control">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4">
								  <label class="control-label" for="signupName">Your name</label>
								</div>
								<div class="col-md-6">
								  <input id="signupName" type="text" maxlength="50" class="form-control">
								</div>
							</div>
						</form>
				  </div>  
				</div>					
			</div>
		</div>
	</div>
</div>