<div class="edit-fields">
  <div class="crud-input">Title: {{input value=model.shinchan}}</div>
  <div class="crud-input">studentName: {{input value=model.studentName }}</div>
  <div class="crud-input">class: {{input value=model.class }}</div>
  <div class="crud-input">isPass: {{input type='checkbox' checked=model.isPass }}</div>
  <!-- attributes go here -->
</div>