<div class="edit-fields">
  <div class="crud-input">Title: {{input value=model.management}}</div>
  <div class="crud-input">student-name: {{input value=model.student-name }}</div>
  <div class="crud-input">class: {{input value=model.class }}</div>
  <div class="crud-input">is-pass: {{input type='checkbox' checked=model.is-pass }}</div>
  <!-- attributes go here -->
</div>