<div class="edit-fields">
  <div class="crud-input">Title: {{input value=model.student}}</div>
  <div class="crud-input">name: {{input value=model.name }}</div>
  <div class="crud-input">description: {{input value=model.description }}</div>
  <div class="crud-input">is-valid: {{input type='checkbox' checked=model.is-valid }}</div>
  <!-- attributes go here -->
</div>