<div class="edit-fields">
  <div class="crud-input">Title: {{input value=model.classicCrud}}</div>
  <div class="crud-input">name: {{input value=model.name }}</div>
  <div class="crud-input">is-valid: {{input type='checkbox' checked=model.is-valid }}</div>
  <div class="crud-input">text: {{input value=model.text }}</div>
  <!-- attributes go here -->
</div>