<h1>Show <%= classifiedModuleName %></h1>
  <%= displayAttrs %>
<!-- attributes go here -->
<hr>
{{#link-to '<%= dasherizedModuleName %>.edit' model tagname="button" }}Edit{{/link-to}}

<button {{action 'delete'}} class="pull-right">Delete</button>