<div class="container">    
  <div class="row">
    <div class="col-sm-2 v-divider">
      <nav class="nav-sidebar">
        <ul class="nav">
          <li>{{#link-to 'shins.new' tagname="button" }}<i class='glyphicon glyphicon-plus'>New</i>{{/link-to}}</li>
          {{#each model as |shin|}}
						<li>
						  {{#link-to 'shins.shin.show' shin tagname="button" }}
						    {{shin.shin}}
						  {{/link-to}}
						</li>
					{{/each}}                  
        </ul>
      </nav>
    </div>
    <div class="col-md-9">
			{{outlet}}
		</div>
  </div>
</div>